<link rel="dns-prefetch" href="https://www.gstatic.com">
<link href="https://www.gstatic.com" rel="preconnect" crossorigin>
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link href="https://www.googletagmanager.com" rel="preconnect" crossorigin>
<link rel="dns-prefetch" href="https://identity.netlify.com">
<link href="https://identity.netlify.com" rel="preconnect" crossorigin>
<link rel="dns-prefetch" href="https://cdnjs.cloudfare.com">
<link href="https://cdnjs.cloudfare.com" rel="preconnect" crossorigin>